@import 'normalize.css';

:root {
    // Color define
    --black: #000;
    --white: #fff;
    --text-color: #333;
    --primary-color: #1677ff;
    --disabled-color: #f5f5f5;

    // Font define
    --font-family: 'Poppins', sans-serif;

    --header-height: 62px;
}

html {
    font-size: 62.5%;    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
    color: var(--text-color);
    text-rendering: optimizespeed;
}

// Font embeded
@font-face {
    font-family: Poppins;
    src: url('/assets/fonts/Poppins-Thin.ttf');
    font-weight: 100;
}

@font-face {
    font-family: Poppins;
    src: url('/assets/fonts/Poppins-ExtraLight.ttf');
    font-weight: 200;
}

@font-face {
    font-family: Poppins;
    src: url('/assets/fonts/Poppins-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: Poppins;
    src: url('/assets/fonts/Poppins-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Poppins;
    src: url('/assets/fonts/Poppins-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: Poppins;
    src: url('/assets/fonts/Poppins-SemiBold.ttf');
    font-weight: 600;
}

button, input, [tabindex] {
    outline: none;
    border: none;
    font-family: var(--font-family);
}

a {
    color: var(--text-color);
    text-decoration: none;
}